<form (ngSubmit)="login()">
    <h2>Inloggning</h2>
    <!-- Visa fel- eller framgångsmeddelanden -->
    @if (errorMessage()) {
    <div class="error-message">
        {{ errorMessage() }}
    </div>
    }

    @if (successMessage()) {
    <div class="success-message">
        {{ successMessage() }}
    </div>
    }

    <label for="email">E-post:</label>
    <input type="text" id="email" name="email" [(ngModel)]="email">

    <label for="password">Lösenord:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

    <button type="submit">Logga in</button>
</form>
