<section id="menu-list">

    <div class="nav-bar">
        <button class="nav-arrow" (click)="prevWeek()">
            ‹ Vecka {{ selectedWeek() - 1 }}
        </button>

        <div class="current-week-title">
            <h2>VECKA {{ selectedWeek() }}</h2>
        </div>

        <button class="nav-arrow" (click)="nextWeek()">
            Vecka {{ selectedWeek() + 1 }} ›
        </button>
    </div>

    <div class="menu-item">
        @for (dish of menus(); track dish.day_of_week) {
        <div class="dish-card">
            <span class="day-marker">
                <h3>{{ dish.day_of_week }}</h3>
            </span>

            <div class="dish-header">
                <strong>{{ dish.title }}</strong>
                <div class="dish-right-side">
                    <span class="dish-price">{{ dish.price }} kr</span>

                    <button class="btn-order-toggle" (click)="toggleOrderForm(dish.id!)">
                        <!-- vi lovar att ett id kommer att finnas här med ! -->
                        {{ activeDishId === dish.id ? 'Stäng' : 'Förbeställ TakeAway' }}
                    </button>
                </div>
            </div>

            <p class="dish-description">{{ dish.description }}</p>



            @if (activeDishId === dish.id) {
            <div class="order-form-container">
                <form #myForm="ngForm" (ngSubmit)="submitOrder(dish.id!)">

                    <div class="form-group">
                        <label>Namn:</label>
                        <input type="text" name="customer_name" [(ngModel)]="orderData.customer_name" required
                            placeholder="Ditt namn">
                    </div>

                    <div class="form-group">
                        <label>Telefonnummer:</label>
                        <input type="tel" name="customer_phone" [(ngModel)]="orderData.customer_phone" required
                            placeholder="Ditt telefonnummer">
                    </div>

                    <div class="form-group">
                        <label>Upphämtningstid:</label>
                        <input type="time" name="pickup_time" [(ngModel)]="orderData.pickup_time" required>
                    </div>

                    <div class="form-group">
                        <label>Antal portioner:</label>
                        <input type="number" name="quantity" [(ngModel)]="orderData.quantity" min="1" required>
                    </div>
                </form>
            </div>
            }
        </div>
        } @empty {
        <p class="no-menu">Ingen meny än för vecka {{ selectedWeek() }}.</p>
        }
    </div>

</section>