<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Om</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="/index">Startsida</a> - <a href="/add">Lägg till kurs</a> - <a href="/">Om</a>
        </nav>
    </header>
    <main>
        <h1>Om</h1>
        <p>Denna webbapplikation var till för att hantera kurser vi som studenter läst i programmet. Funktionaliteten
            omfattar att säkert kunna lägga till nya kurser, se befintliga kurser och radera kurser. Applikationen är
            byggd med
            Express, Nodemon, använder EJS som templating engine för att rendera HTML-sidor och en
            PostgreSQL-databas.</p>
        <p>Slutsatsen av att ha börjat jobba med server-baserad utveckling är att du får en bättre kontroll över
            utvecklingsmiljön och slipper krångel med att hantera API:er. Så även om det har sina alldeles egna nya
            problem att lösa verkar det vara en bättre helhetslösning. </p>
    </main>

    <footer>
        <p> Lab 1 serverbaserad webbutveckling av Rune Granath</p>
    </footer>

</body>

</html>