<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="/index">Startsida</a> - <a href="/">Lägg till kurs</a> - <a href="about">Om</a>
        </nav>
    </header>
    <main>
        <h1>Lägg till kurs</h1>
        <form action="/submit" method="post">
            <label for="Kurskod">Kurskod:</label>
            <input type="text" id="coursecode" name="kursKod" required />
            <br />
            <label for="Kursnamn">Kursnamn:</label>
            <input type="text" id="coursename" name="kursNamn" required />
            <br />
            <label for="Kursplan">Kursplan:</label>
            <input type="text" id="syllabus" name="kursPlan" required />
            <br />
            <label for="Progression">Progression:</label>
            <input type="text" id="progression" name="kursProgression" required />
            <br />
            <button type="submit">Skicka</button>
        </form>

    </main>


</body>

</html>